#### Load PostgreSQL driver
loadmodule "db_postgres.so"

#### Load modules that use the DB
loadmodule "usrloc.so"
loadmodule "auth_db.so"
loadmodule "acc.so"

#### Database URL - set per module
modparam("usrloc", "db_url", "postgres://{{ db_user }}:{{ db_password }}@{{ db_host }}:{{ db_port }}/{{ db_name }}")
modparam("auth_db", "db_url", "postgres://{{ db_user }}:{{ db_password }}@{{ db_host }}:{{ db_port }}/{{ db_name }}")
modparam("acc", "db_url", "postgres://{{ db_user }}:{{ db_password }}@{{ db_host }}:{{ db_port }}/{{ db_name }}")


# Konfigurasi accounting (acc)
modparam("acc", "log_flag", {{ acc_log_flag | default(1) }})
modparam("acc", "db_flag", {{ acc_db_flag | default(1) }})
